body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    list-style: none;
}

    body img {
        border: none;
    }

a {
    color: #000;
    border: 0;
    text-decoration: none;
}

    a:hover {
        color: #f00;
        text-decoration: none;
    }

#warp {
 
    margin: 0px auto 0px auto;
    width: 1000px;
}

.nav {
    height: 40px;
    width: 1000px;
    margin-left: 10px;
}

    .nav ul li {
        float: left;
        margin-right: -15px;
        margin-left: -10px; /*这里的marign是实现这个效果最关键的地方*/
        display: inline;
        width: 122px;
        position: relative;
    }

.bg {
    background-image: url(../imgs/a.png);
    background-repeat: no-repeat;
}

.nav ul li a, .nav ul li a:visited {
    display: block;
    color: #FFFFFF;
    padding: 11px 0px;
    padding:  12px 0px \9;
    _padding: 5px 0px 6px;
    width: 122px;
    float: left;
    text-align: center;
    font-family: Microsoft YaHei !important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .nav ul li a, .nav ul li a:visited {
        display: block;
        color: #FFFFFF;
        padding: 11px 0px;
        _padding: 5px 0px 6px;
        width: 122px;
        float: left;
        text-align: center;
        font-family: Microsoft YaHei !important;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }

        .nav ul li a, .nav ul li a:visited {
            padding: 10px 0px;
        }
}

.nav ul li ul {
    display: none;
}

.nav ul li a span {
    display: block;
}

.nav ul li a:hover, .bg a:hover {
    background: url(../imgs/a-hover.png) no-repeat;
    _background: url(../imgs/a-hover.png) no-repeat;
    color: #fff;
}


.nav ul li:hover a {
    color: #fff;
    background: url(../imgs/a-hover.png) center no-repeat;
}

/* make the sub menu ul visible and position it beneath the main menu list item */
.nav ul li:hover ul {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 105px;
}

    .nav ul li:hover ul li {
        height: 25px;
        width: 105px;
        margin-top: 5px;
    }

        .nav ul li:hover ul li a {
            display: block;
            font-size: 15px;
            background: url(../imgs/list2.png) center no-repeat !important;
            _background: url(imgs/list2.gif) center no-repeat !important;
            color: #fff;
        }
            /* style the background and forground colors of the links on hover */
            .nav ul li:hover ul li a:hover {
                background: url(../imgs/list2-hover.png) center no-repeat !important;
                _background: url(imgs/list2-hover.gif) center no-repeat !important;
                color: #fff;
            }
/*---------------------------*/
.d1 {
    width: 380px;
    height: 250px;
    overflow: hidden;
    border: #666666 1px solid;
    background-color: #000000;
    position: relative;
    margin-left: 0px;
}

.loading {
    z-index: -1;
    width: 100%;
    border: #666666 2px solid;
    background-color: #000000;
    color: #FFCC00;
    font-size: 12px;
    height: 300px;
    text-align: center;
    padding-top: 30px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.d2 {
    width: 380px;
    height: 250px;
    overflow: hidden;
}

.num_list {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 0px;
    height: 20px;
    overflow: hidden;
}

    .num_list span {
        display: inline-block;
        height: 16px;
        padding-left: 6px;
    }

img {
    border: 0px;
}

.ul1 {
    display: none;
}

.button {
    position: absolute;
    z-index: 20;
    right: 0px;
    bottom: 2px;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.b1, .b2 {
    background-color: #666666;
    display: block;
    float: left;
    padding: 2px 6px;
    margin-right: 3px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.b2 {
    color: #FFCC33;
    background-color: #FF6633;
}
/*---------------------------------*/

#tab_container1 {
    width: 360px;
    text-align: left;
}

#tab_container3 {
    width: 360px;
    text-align: left;
}

.cls_tab_nav {
    border-bottom: 1px solid #0671a4;
    height: 26px;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    background: url(line_bg.jpg) repeat-x bottom;
}

    .cls_tab_nav ul {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

.cls_tab_nav_li {
    background: url(tab_bg.jpg) no-repeat -157px 0;
    width: 70px;
    height: 26px;
    line-height: 26px;
    float: left;
    display: inline;
    text-align: center;
    cursor: pointer;
}

.cls_tab_nav_li_first {
    background-position: 0px 0px;
}

.cls_tab_nav_li a {
    text-decoration: none;
    color: #0671a4;
}

.cls_tab_nav span a {
    text-decoration: none;
    color: red;
    float: right;
    margin-right: 20px;
    margin-top: 7px !important;
    font-size: 13px;
}

.cls_tab_body {
    padding-top: 5px;
    min-height: 210px;
}

.cls_div {
    display: none;
    font-size: 12px;
}
